body{
    background-color: rgb(234, 249, 178);
}

nav ul{
    list-style-type: none;
}

h2{
	text-align: center;
	background-color: rgb(255,255,255);
	box-shadow: 10px 5px 5px rgb(124, 124, 124);
	margin: 35px;
}

nav.menu{
	background-color: rgb(255,255,255);
	box-shadow: 10px 5px 5px rgb(124, 124, 124);
	text-align: right;
}

nav li{
	text-align: right;
    display: inline-flex;
    margin-right: 20px;
}

nav a{
    font-size: large;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(65, 65, 186);
    border-bottom: 3px solid rgb(65, 65, 186);
}

div#imagen{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
